<html>
<head>
</head>
<body>
  <style>
    #name{
      color: {{color}}
    }
  </style>
  <!--<h1> {{greeting}}<span id="name"> {{name}}</span></h1>-->
  <h1>Am I annoying?</h1>
  {% for i in range(times) %}
  Hi <br>
  {% endfor %}

  <!--
  {%if vegetables == "rutabaga" %}
  Rutabagas are gross <img src="resources/ratabaga.jpg">
  {%else%}
  {{vegetables}} are great <img src="resources/milk.jpg">
  {%endif%}
  <img src="resources/milk.jpg">
  <form>
  What is your name? <input name="name" type="text">
  What is your favorite color? <input name="color" type="text">
  <input type = "submit">
-->
</body>
</html>
